<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cool Coding</title>
    <link rel="stylesheet" href="/styles/main.css"/>
</head>
    <body>
    <div id="nav-menu">
        <div id="menu-left">
            <a id="logo" href="/">
                <img src="/images/code_logo.png">
                <h1>Cool Coding</h1>
            </a>
        </div>
        <div id="menu-right">
            <ul>
                <li><a href="">Participate</a></li>
                <li><a href="">About</a></li>
            </ul>
        </div>
    </div>
    {{{body}}}
    </body>
</html>