<div>
    <h4 class="title">Simple text analyzer</h4>
    <textarea style="outline: none;" placeholder="Enter text to analyze ..." rows="10" cols="50" id="text_input"></textarea>
    <a><button class="button" id="submit" title="ANALYZE">ANALYZE</button></a>
</div>
<div class="canvas-container">
    <canvas id="my_canvas"></canvas>
</div>
<script src="/js/datascience_intro.js"></script>