<div class="container">
    <h4 class="title">Simple text analyzer</h4>
    <div class="control-container">
        <textarea style="outline: none;" placeholder="Enter text to analyze ..." rows="10" cols="45" class="text-area" id="text_input"></textarea>
        <a><button class="button" id="submit" title="ANALYZE">ANALYZE</button></a>
    </div>
</div>
<div class="canvas-container">
    <canvas id="my_canvas"></canvas>
</div>
<script src="/js/text-analyzer/index.js"></script>